---
import Navigation from "./Navigation.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header>
  <div>
    <a class="logo" href="/">Astro Blog</a>
  </div>
  <ThemeIcon />
  <Navigation />
</header>
