---
import "../styles/global.css";
---

<header>
  <div>
    <a class="logo" href="/">Astro Blog</a>
  </div>
  <nav class="nav">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/blog/">Blog</a></li>
    </ul>
  </nav>
</header>
